@charset "utf-8";
/* CSS Document */
nav .search {
    position: absolute;
    top: 0;
    left: 19%;
    width: 890px;
    display: none;
}

nav .search form {
    height: 50px;
    line-height: 50px;
    width:890px;
}

nav .search  .search-wrapper {
    position: relative;
   
}

nav .search  .search-wrapper .inputSearch {
    height: 30px;
    line-height: 30px;
    outline: 0;
    width: 100%;
    padding-left: 20px;
    border: 0;
    background: #f4f4f4; 
    text-indent: 50px;
    
}

nav .search .search-wrapper .search-search {
    position: absolute;
    padding: 0;
    border: 0;
    top: 10px;
    height: 30px;
    line-height: 30px;
    left:0;

}



nav .search  .search-wrapper .close {
    width:30px;
   background:#3a3a3a;
    color: #3a3a3a;
    text-align: center;
    position: absolute;
    top: 10px;
    right: -30px;
    height:30px;
    border:0;
}

nav .search form .search-wrapper .close:hover {
    color: #000;
}

nav .search .search-content {
    display:none;
    width: 100%;
    background:#fff;
    height: 240px;

}

nav .search .search-content .search-con-frame {
    padding: 15px 10px;
    box-sizing: border-box;
}

nav  .search .search-content .search-con-frame ul {
    padding: 0;
    margin: 0;
    height: 210px;
    overflow: hidden;
    position: relative;
  
  
}

nav  .search .search-content .search-con-frame ul li {
    
    height: 50px;
    line-height: 30px;
    text-align: left;
    
   width:870px;
   box-sizing: border-box;

}

nav .search .search-content .search-con-frame ul li a {
  width:100%;
    color: #767676;
    text-align: left;
    padding-left: 30px;
}



/* nav .search .search-content .search-con-frame ul li:hover a{
    
} */
nav  .search .search-content .search-con-frame ul li:hover a {
    color: #0070c9;
    background: #f2f2f2;
}

