@charset "utf-8";
/* CSS Document */
nav .search {
    position: absolute;
    top: 0;
    left: 19%;
    width: 890px;
    display: none;
}

nav .search form {
    height: 50px;
    line-height: 50px;
    width:890px;
}

nav .search form .search-wrapper {
    position: relative;
    animation: mymove .3s forwards
}

nav .search form .search-wrapper .inputSearch {
    height: 30px;
    line-height: 30px;
    outline: 0;
    width: 100%;
    padding-left: 20px;
    border: 0;
    background: #f4f4f4; 
    text-indent: 50px;
    
}

nav .search form .search-wrapper .search-search {
    position: absolute;
    background: 0 0;
    padding: 0;
    border: 0;
    top: 10px;
    height: 30px;
    line-height: 30px;
   left:0;

}



nav .search form .search-wrapper .search-close {
    width: 50px;
   
    color: #3a3a3a;
    text-align: center;
    position: absolute;
    top: 10px;
    right: -30px;
    height:30px;
}

nav .search form .search-wrapper .search-close:hover {
    color: #000
}
/* 
nav .search .search-content {
    width: 100%;
    background: #fff;
    height: 240px;

}

nav .search .search-content .search-con-frame {
    padding: 15px 10px;
    box-sizing: border-box;
}

nav  .search .search-content .search-con-frame ul {
    padding: 0;
    margin: 0;
    height: 210px;
    overflow: hidden;
    position: relative;
}

nav  .search .search-content .search-con-frame ul li {
    opacity: 0;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 30px;
   
}

nav .search .search-content .search-con-frame ul li a {
    display: none;
}

nav .search .search-content .search-con-frame ul li:hover {
    background: #f2f2f2
}

nav  .search .search-content .search-con-frame ul li:hover a {
    color: #0070c9
}
 nav  .search .search-content .search-con-frame ul li:nth-child(1) {
    animation-delay: .2s
}

nav .search .search-content .search-con-frame ul li:nth-child(2) {
    animation-delay: .3s
}

nav  .search .search-content .search-con-frame ul li:nth-child(3) {
    animation-delay: .4s
}

nav  .search .search-content .search-con-frame ul li:nth-child(4) {
    animation-delay: .5s
}

nav  .search .search-content .search-con-frame ul li:nth-child(5) {
    animation-delay: .6s
}

nav  .search .search-content .search-con-frame ul li:nth-child(6) {
    animation-delay: .7s
}

nav  .search .search-content .search-con-frame ul li:nth-child(7) {
    animation-delay: .8s
}

nav  .search .search-content .search-con-frame .mymove li {
    animation-play-state: running
} */
/* 使用@keyframes规则，你可以创建动画。

创建动画是通过逐步改变从一个CSS样式设定到另一个。

在动画过程中，您可以更改CSS样式的设定多次。

指定的变化时发生时使用％，或关键字"from"和"to"，这是和0％到100％相同。 */
/* @keyframes mymove {
    from {
        transform: translateX(180px);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
} */